{
    "printWidth": 160,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
